@{
    ViewBag.Title = "SPACE Office Planning App";
}
<h2 style="color: #993300; text-align: justify;">@ViewBag.Title</h2>

<p>&nbsp;</p>
<p>Given the current global situation the planning of office time vs. work from home time has become imperative for all companies.</p>
<p>&nbsp;</p>
<p>The Office Planning App provides the means of managing this complex scenarios, taking into consideration aspects such as department segregation and user access rights.</p>
<p>&nbsp;</p>


