<p>&nbsp;</p>
<p>&nbsp;</p>
<img src="~/Images/OfficePlanningApp.jpg" alt="image" style="padding-right:5px;padding-bottom:5px;float:left;" />
<p>&nbsp;</p>
<p>&nbsp;</p>
<p style="font-size:medium">Given the current global situation the planning of office time vs. work from home time has become imperative for all companies.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p style="font-size:medium">The Office Planning App provides the means of managing this complex scenarios, taking into consideration aspects such as department segregation and user access rights.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>


