<p>&nbsp;</p>
<p>&nbsp;</p>
<address>
    <img src="~/Images/Contact.jpg" alt="image" style="padding-right:5px;padding-bottom:5px;float:left;" />
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p style="font-size:medium">Armășescu Ioana</p>
    <p style="font-size:medium" href="mailto:ioanaarmasescu@officeplanningapp.com">ioanaarmasescu@officeplanningapp.com</p>
    <p style="font-size:medium">0741 000 000</p>
    <p>&nbsp;</p>
</address>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>