@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="text-align: justify;">Office Planning App</h1>
    <p class="lead">The office planning app has been designed with the purpose of allowing companies a quick adjustment towards the hybrid workplace approach.</p>
    <p><a href="/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2 style="color: #993300; text-align: justify;">Motto</h2>
        <p style="text-align: justify;">Teamwork is the ability to work together toward a common vision. The ability to direct individual accomplishments toward organizational objectives. It is the fuel that allows common people to attain uncommon results.</p>
        <p style="text-align: right;"><em><strong>Andrew Caar</strong></em></p>
    </div>
    <div class="col-md-6">
        <h2 style="color: #993300; text-align: justify;">Getting Started</h2>
            <p>Start by registering in the app - the admin will then assign you corresponding roles.</p>
            <p><a class="btn btn-default" href="/Account/Register">Register Now &raquo;</a></p>
</div>


  
</div>