@{
    ViewBag.Title = "Home Page";
}

<p>&nbsp;</p>
<img src="~/Images/About.png" alt="image" style="padding-right:5px;padding-bottom:5px;float:left;" />
<p>&nbsp;</p>
<p>&nbsp;</p>
<h1 style="text-align: center;color: #993300;">Office Planning App</h1>
<p>&nbsp;</p>
<p style="text-align: justify; font-size: medium;">The office planning app has been designed with the purpose of allowing companies a quick adjustment towards the hybrid workplace approach.</p>
<p>&nbsp;</p>
<p style="text-align: left"><a href="/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>


<div class="row">
    <div class="col-md-6">
        <h1 style="color: #993300; text-align: center;">Motto</h1>
        <p style="text-align: justify;font-size: medium;">Teamwork is the ability to work together toward a common vision. The ability to direct individual accomplishments toward organizational objectives. It is the fuel that allows common people to attain uncommon results.</p>
    </div>
    <div class="col-md-6">
        <h1 style="color: #993300; text-align: center;">Getting Started</h1>
        <p style="text-align: justify;font-size: medium;">Get started by registering in the app - the administrator will then assign you to the corresponding role and department.</p>
        <p style="text-align: left"><a class="btn btn-primary btn-lg" href="/Account/Register">Register Now &raquo;</a></p>
    </div>



</div>